# Uma ideia para a comunicação entre módulos da Fábrica de Brinquedos

1 - Database em nuvem com "collections": 

    - montagem 
    - pintura 
    - transporte 
    - inspeção
    - ...
    - lista de falhas ...
2 - Gateway para comunicação entre servidor e módulos via protocolo HTTP. \
3 - Gateway com CLP via Modbus. \
4 - CLP com sensores;

<img src="./images/diagrama_sistema.png">

- Serviço do MongoDB Atlas
- Acesso HTTP pelo MongoCompass

In [2]:
from pymongo import MongoClient
import pandas as pd

from datetime import datetime, timedelta, date
import json

## Ler mensagens

In [3]:
# define o endereço do banco, pegar pelo mongocompass
client = MongoClient('mongodb+srv://montagem:1235@fabrica-brinquedos.ibpha.mongodb.net/test?authSource=admin&replicaSet=atlas-1vjihu-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true')
# define o database
database = client['test']
# define a coleção
collection = database['montagem']


df = pd.DataFrame(list(collection.find()))

In [4]:
df

,_id,Date,Código,Sobre,Peças
0,606d34764927240250982f42,07-04-2021 00:00,1,montagem eixo,mais pregos

## Enviar mensagens

In [5]:
# add timestamp
today = date.today()
current_day = today.strftime("%d-%m-%Y %H:%M")
data = {'Date': current_day, 'Código': [1], 'Descrição': 'montagem eixo', 'Peças': 'mais pregos'}

records = pd.DataFrame(data=data)
records

               Date  Código      Descrição        Peças
0  07-04-2021 00:00       1  montagem eixo  mais pregos

In [ ]:
records = json.loads(records.T.to_json()).values()
collection.insert_many(records)